- name: Login to dockerHub
  docker_login:
    username: ghada.laaribi@esprit.tn
    password: 203JMT1888
    reauthorize: yes
- name: Tag and push to docker hub
  docker_image:
    name: aminemokaddem/devops
    repository: aminemokaddem/devops
    tag: latest
    push: yes
    source: local

