- name: Login to dockerHub
  docker_login:
    username: dadoulanda
    password: 203JMT1888
    reauthorize: yes
- name: Tag and push to docker hub
  docker_image:
    name: dadoulanda/angulardevops
    repository: dadoulanda/angulardevops
    tag: latest
    push: yes
    source: local

