- name: Login to dockerHub
  docker_login:
    username: "dadoulanda"
    password: "203JMT1888"
    reauthorize: yes
- name: Tag and push to docker hub
  docker_image:
    name: dadoulanda/angular:latest
    repository: dadoulanda/front2
    tag: latest
    push: yes
    source: local

